@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <br /><br />

    <p>
        @ViewData["indexPage"]
    </p>
    
    <a asp-action="Index" asp-route-test="bogdan">+1</a>
</div>