@model InvitedPerson

<div class="container p-3">
    <div class="row">
        <h2 class="text-primary">Add Guest Info</h2>
    </div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Phone</label>
            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone">
        </div>
        <div class="form-group">
            <label asp-for="Comments">Comments</label>
            <input asp-for="Comments" type="text" class="form-control" placeholder="Comments">
        </div>
        <div class="form-check">
            <input asp-for="RSVP" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label asp-for="RSVP" for="exampleCheck1">If the guest has already accepted the invitation, please check the box.</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="CreateEvent" asp-action="Index" button type="submit" class="btn btn-primary">Go back</a>
    </form>
</div>

