@model InvitaShare.ViewModels.EventUserDTO

<h6 style="color:red">@TempData["ViewMessage"]</h6>
@* <span class="text-danger">@TempData["ErrorMes"]</span> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUserGuest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserMail" class="control-label"></label>
                <input asp-for="UserMail" class="form-control" />
                <span asp-validation-for="UserMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

