@using (Html.BeginForm("CreateEvent", "Event"))
{
    <div class="d-flex">
        <h3>Create new event</h3>
        <div class="me-2">
            <select class="form-select" aria-label="Default select example" id="EventType" name="EventType">
                @* <option>Create new Event</option> *@
                <option value="Wedding">Wedding</option>
                <option value="Baptism">Baptism</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create new event</button>
    </div>
}

@using (Html.BeginForm("FilterEvents", "Event"))
{
    <div class="d-flex">
        <h3>Filters : </h3>
        <select class="form-select me-2" aria-label="Default select example" id="eventFilter" name="eventFilter">
            <option value="allUsers">All user events</option>
            <option value="myEvents">My Events</option>
            <option value="wedding">Weddings</option>
            <option value="baptism">Baptism</option>
        </select>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}



