
<a asp-action="CreateWeddingEvent">Create Wedding Event</a>
<p></p>
<a asp-action="CreateBaptismEvent">Create Baptism Event</a>

<tr>
    <td> Populating With ViewBag Data </td>
    <td>
        @Html.DropDownList("ListOfEvents", (IEnumerable
                 <SelectListItem>)ViewBag.ListOfEvents)
    </td>
</tr>