@model InvitaShare.Models.WeddingEvent

<h4>@Model.EventName</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="EditWeddingEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="EventName" class="col-sm-2 col-form-label">Event Name</label>
                <div class="col-sm-10">
                    <input asp-for="EventName" class="form-control" />
                    <span asp-validation-for="EventName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="BrideName" class="col-sm-2 col-form-label">Bride Name</label>
                <div class="col-sm-10">
                    <input asp-for="BrideName" class="form-control" />
                    <span asp-validation-for="BrideName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="GroomName" class="col-sm-2 col-form-label">Groom Name</label>
                <div class="col-sm-10">
                    <input asp-for="GroomName" class="form-control" />
                    <span asp-validation-for="GroomName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="GodParent1" class="col-sm-2 col-form-label">God Parent 1</label>
                <div class="col-sm-10">
                    <input asp-for="GodParent1" class="form-control" />
                    <span asp-validation-for="GodParent1" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="GodParent2" class="col-sm-2 col-form-label">God Parent 2</label>
                <div class="col-sm-10">
                    <input asp-for="GodParent2" class="form-control" />
                    <span asp-validation-for="GodParent2" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label asp-for="RestaurantName" class="col-sm-2 col-form-label">Restaurant Name</label>
                <div class="col-sm-10">
                    <input asp-for="RestaurantName" class="form-control" />
                    <span asp-validation-for="RestaurantName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ChurchName" class="col-sm-2 col-form-label">Church Name</label>
                <div class="col-sm-10">
                    <input asp-for="ChurchName" class="form-control" />
                    <span asp-validation-for="ChurchName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="EventDate" class="col-sm-2 col-form-label">Event Date</label>
                <div class="col-sm-10">
                    <input asp-for="EventDate" class="form-control" />
                    <span asp-validation-for="EventDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
